<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Natalie Steinhouse - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/arts/static/style/style.css.map">
        <link rel="stylesheet" type="text/css" href="../../static/theme/arts/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/arts/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Profile page</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>
                    <li>&raquo; Pages</li>
                    <li>&raquo; <a href="index.html">Profile page</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>




<p id="view-description">Your profile page is what others see when they click on your name or profile picture</p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-profileinfo panel panel-secondary clearfix " id="blockinstance_5263936">
            <h3 class="title panel-heading js-heading">
            

            About me
            


            

        </h3>
    

    <div class="block"  id="blockinstance_5263936_target" data-blocktype-noajax="5263936">
        <div class="panel-body flush">



    <ul class="unstyled profile-info">
                    
                                    <li><strong>First name:</strong> Natalie</li>
            
                                    <li><strong>Last name:</strong> Steinhouse</li>
            
                                    <li><strong>Email address:</strong> <a href="mailto:n.steinhouse0720191@arts.ac.uk">n.steinhouse0720191@arts.ac.uk</a></li>
            
        
    </ul>




</div>


        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-myviews panel panel-secondary clearfix " id="blockinstance_5263937">
            <h3 class="title panel-heading js-heading">
            

            My portfolio
            


            

        </h3>
    

    <div class="block"  id="blockinstance_5263937_target" data-blocktype-noajax="5263937">
            <div class="list-group">
        <div id="myviewlist" class="list-group">
                <div class="list-group-item">
        <a href="https://natalie-2.workflow.arts.ac.uk/portfolio" class="outer-link">
            <span class="sr-only">Portfolio</span>
        </a>

        <h4 class="title list-group-item-heading text-inline">
            <a href="https://natalie-2.workflow.arts.ac.uk/portfolio">Portfolio</a>
        </h4>

        
        
        

        
    </div>
    <div class="list-group-item">
        <a href="https://natalie-2.workflow.arts.ac.uk/untitled-v-2" class="outer-link">
            <span class="sr-only">Untitled v.2</span>
        </a>

        <h4 class="title list-group-item-heading text-inline">
            <a href="https://natalie-2.workflow.arts.ac.uk/untitled-v-2">Untitled v.2</a>
        </h4>

        
        
        

        
    </div>
    <div class="list-group-item">
        <a href="https://natalie-2.workflow.arts.ac.uk/untitled-v-3" class="outer-link">
            <span class="sr-only">Untitled v.3</span>
        </a>

        <h4 class="title list-group-item-heading text-inline">
            <a href="https://natalie-2.workflow.arts.ac.uk/untitled-v-3">Untitled v.3</a>
        </h4>

        
        
        

        
    </div>


        </div>
            <div id="myviews_page_container" class="hidden"><div id="myviews_pagination" class="pagination-wrapper center"><div class="lead text-small results pull-right">3 results</div><ul class="pagination pagination-xs"><input type="hidden" id="setlimitselect" name="limit" value="10"></div></div>
    
        
    
    </div>



        
    </div>
</div>
<div class="bt-mygroups panel panel-secondary clearfix " id="blockinstance_5263938">
            <h3 class="title panel-heading js-heading">
            

            My groups
            


            

        </h3>
    

    <div class="block"  id="blockinstance_5263938_target" data-blocktype-noajax="5263938">
            <div class="panel-body">
        <p class="no-results-small">Not in any groups</p>
    </div>



        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Natalie Steinhouse on 04 September 2020,  1:56 PM, from their portfolio at <a href="https://workflow.arts.ac.uk/">workflow</a></p>
        </div>
    </body>
</html>

