<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Natalie Steinhouse - Portfolio</title>
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/views.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/select2.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/print.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/arts/static/style/style.css.map">
        <link rel="stylesheet" type="text/css" href="../../static/theme/arts/static/style/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/arts/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Portfolio</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>
                    <li>&raquo; Pages</li>
                    <li>&raquo; <a href="index.html">Portfolio</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>




<p id="view-description"></p>

<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns1 first last col-width-100" style="width: 100%;">
    <div class="column-content">
        <div class="bt-text panel panel-secondary clearfix " id="blockinstance_5483070">
            <h3 class="title panel-heading js-heading">
            

            Nat Li Lin Steinhouse (they/them)
            


            

        </h3>
    

    <div class="block"  id="blockinstance_5483070_target" data-blocktype-noajax="5483070">
        <div class="textblock panel-body flush">
<p>I am a performance artist, choreographer and composer. </p>
<p>Founding member of <a href="http://sidewalkbolzano.it/">Sidewalk Bolzano</a>, <a href="https://www.facebook.com/searching4humans/">Searching for Humans</a> and <a href="https://soundcloud.com/user-16270467">Lemper Collective.</a></p>
<p>Studying MA Performance Design and Practice at Central St Martins.</p>
<p> </p>
<p><a href="mailto:undefined%20%5Bn.steinhouse0720191@arts.ac.uk%5D">n.steinhouse0720191@arts.ac.uk</a></p>
</div>


        
    </div>
</div>
<div class="bt-pdf panel panel-secondary clearfix " id="blockinstance_5483069">
            <h3 class="title panel-heading js-heading">
            

            Artist Portfolio
            


            

        </h3>
    

    <div class="block"  id="blockinstance_5483069_target" data-blocktype-noajax="5483069">
        <div class="panel-body">
<iframe src="https://workflow.arts.ac.uk/artefact/file/download.php?editing=&ingroup=&file=6334800&lang=en&view=507704" width="100%" height="500" frameborder="0"></iframe>
</div>



        
                            <a href="https://workflow.arts.ac.uk/artefact/artefact.php?artefact=6334800&amp;view=507704&amp;block=5483069" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-text panel panel-secondary clearfix " id="blockinstance_5483072">
            <h3 class="title panel-heading js-heading">
            

            Dance and performance
            


            

        </h3>
    

    <div class="block"  id="blockinstance_5483072_target" data-blocktype-noajax="5483072">
        <div class="textblock panel-body flush">

<p><a href="https://anjukasturiraj.myportfolio.com/feeding-myself-to">Feast! Our Lady!</a> – performer</p>
<p>by Anju Kasturiraj</p>
<p>January 2020, Central St Martins</p>
<p><img src="https://pro2-bar-s3-cdn-cf.myportfolio.com/1d4204ab-3557-418e-9d73-35ac21a9feca/bd6b4595-2208-47fe-998a-4f6086be949f_rw_1920.jpg?h=7507011b49d24a0c7b31c9a088931806" alt="bd6b4595-2208-47fe-998a-4f6086be949f_rw_1920.jpg?h=7507011b49d24a0c7b31c9a088931806" width="242" height="310"></p>
<p> </p>
<p><a href="https://www.facebook.com/events/364141294466194/">Constructing the Mezzaniney </a>– dancer</p>
<p>by Carlos Maria Romero and Stephen Warwick</p>
<p>October 2019, Platform Theatre, Central St Martins</p>
<p> <a href="https://www.facebook.com/events/364141294466194/"><img width="301" height="164" alt="Constructing the Mezzaniney.jpg" src="../../files/file/6334805-Constructing the Mezzaniney.jpg"></a></p>
<p> </p>

</div>


        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Natalie Steinhouse on 04 September 2020,  1:56 PM, from their portfolio at <a href="https://workflow.arts.ac.uk/">workflow</a></p>
        </div>
    </body>
</html>

